{% extends "teacher_layout.html" %}
{% block content %}
<legend class="border-bottom mb-4"><b>{{ title }}</b></legend>
        <form method="POST" action="" class = "form-horizontal">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                
                <div class="form-group row">
                    <div class="form-control-label col-sm-4">Grade:</div>
                    <div class="form-control form-control-sm col-sm-5">{{ classid.grade }}</div>
                </div>
                <div class="form-group row">
                    <div class="form-control-label col-sm-4">Section:</div>
                    <div class="form-control form-control-sm col-sm-5">{{ classid.section }}</div>
                </div>
                <div class="form-group row">
                    <div class="form-control-label col-sm-4">Subject Description:</div>
                    <div class="form-control form-control-sm col-sm-5">{{ subject }}</div>
                </div>
                <div class="form-group row">
                    {{ form.name.label(class="form-control-label col-sm-4 ") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.name(class="form-control form-control-sm col-sm-5") }}
                    {%endif%}
                </div>
                <div class="form-group row">
                    {{ form.link.label(class="form-control-label col-sm-4 ") }}
                    {% if form.link.errors %}
                        {{ form.link(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.link.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.link(class="form-control form-control-sm col-sm-5") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.start_date.label(class="form-control-label col-sm-4 ") }}
                    {% if form.start_date.errors %}
                        {{ form.start_date(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.start_date(class="form-control form-control-sm col-sm-5") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.start_time.label(class="form-control-label col-sm-4 ") }}
                    {% if form.start_time.errors %}
                        {{ form.start_time(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.start_time(class="form-control form-control-sm col-sm-5") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.end_date.label(class="form-control-label col-sm-4 ") }}
                    {% if form.end_date.errors %}
                        {{ form.end_date(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.end_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.end_date(class="form-control form-control-sm col-sm-5") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    {{ form.end_time.label(class="form-control-label col-sm-4 ") }}
                    {% if form.end_time.errors %}
                        {{ form.end_time(class="form-control form-control-sm is-invalid col-sm-5") }}
                        <div class="invalid-feedback">
                            {% for error in form.end_time.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.end_time(class="form-control form-control-sm col-sm-5") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="margin-left: 45%;">
                {{ form.submit(class="btn btn-info") }}
            </div>
            <input style="margin-left: 45.5%;"type="button" class="btn btn-info" value="BACK" onclick="history.back(-1)" />
        </form>
{% endblock content %}