{% extends "principal_layout.html" %}

{% block content %}
<style>
    
</style>
<form action="{{ url_for('delete_teacher')}}" method="POST">
    
  <div  style="width: 120%; "> 
    <legend class="border-bottom mb-4"><b>Teacher Details</b></legend>
      <br />    
      <table class="table table-bordered  table-hover"style=" margin-left: auto; margin-right: auto;"  >

          <thead>
              <tr>
                  <!-- <th>S.No.</th> -->
                  <th style="width: 1%; text-align: center;" ></th>
                  <th style="width: 10%;" >First Name</th>
                  <th style="width: 10%;" >Last Name</th>
                  <th style="width: 8%;" >Gender</th>
                  <th style="width: 15%;" >DOB</th>
                  <th style="width: 20%;" >Email ID</th>
                  <th style="width: 15%;" >Phone Number</th>
                  <th style="width: 5%;" >Edit</th>
              <tr>
          </thead>
          <tbody>
              {% for teacher in teachers %}
                <tr>
                  <!-- <td></td> -->
                  <td style="text-align: center;">
                    <input type="checkbox" onclick="checkParent()" name="mycheckbox" value={{ teacher.id }} id="child" />
                  </td> 
                  <td>{{ teacher.first_name }}</td>
                  <td>{{ teacher.last_name }}</td>
                  <td>{{ teacher.gender }}</td>
                  <td>{{ teacher.dob }}</td>
                  <td>{{ teacher.teacher_user.email }}</td>
                  <td>{{ teacher.phone }}</td> 
                  <td> <a href="{{ url_for('edit_teacher', teacherid=teacher.id) }}"><i class='fas fa-pencil-alt' style='font-size:18px; color:rgb(59, 117, 194);'></i></a> </td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
      <br>&nbsp;&nbsp;
      <input type="checkbox" onclick="checkAll()" id="parent"  /><span id="label">&nbsp;&nbsp;Select All</span>
      <br><br>
      <div class ="row" style="margin-left: 1%;">
      <button type="submit"  class="btn btn-info">Delete</button>
      <br/>
    </form>  

    <form action="{{ url_for('mail_teacher')}}" >
        <input type="submit" style="margin-left: 580%;" value="Mail all" name="mailall" class="btn btn-info">
    </form>
    <form action="{{ url_for('add_teacher')}}" >
        <input type="submit" style="margin-left: 1710%;" value="Add" name="add" class="btn btn-info">
    </form>

    
</div>

</div>    

  <script>
    function checkAll(){
        var parent = document.getElementById("parent");
        var label = document.getElementById("label");
        var input = document.getElementsByTagName("input");

        if(parent.checked === true){
            for (var i=0 ; i<input.length ; i++){
                if(input[i].type == "checkbox" && input[i].id=="child" && input[i].checked == false) {
                    input[i].checked = true;
                }
            }
        }

        else if(parent.checked === false){
            for (var i=0 ; i<input.length ; i++){
                if(input[i].type == "checkbox" && input[i].id=="child" && input[i].checked == true) {
                    input[i].checked = false;
                }
            }
        }
        
    }

    function checkParent() {
        var parent = document.getElementById("parent");
        var label = document.getElementById("label");
        var input = document.getElementsByTagName("input");

        var tot = 0;
        for (var i=0 ; i<input.length ; i++){
            if(input[i].type == "checkbox" && input[i].id=="child" && input[i].checked == true) {
                tot = tot+1;
            }
            
        }
        if(tot == input.length)
            parent.checked = true;
        else
            parent.checked = false;
    }
  </script>


{% endblock content %}