{% extends "student_layout.html" %}
{% block content %}

<div  style="width: 120%; "> 
    <legend class="border-bottom mb-4"><b>{{ title }}</b></legend>

    <form method="POST" action="" class="form-horizontal">
        {{ form.hidden_tag() }}
            
            <div class="form-group row" style = "font-size: 18px;">
                    {{ form.subject_opts.label(class="form-control-label col-sm-2") }}                
                    {{ form.subject_opts(class="form-control form-control-sm col-sm-3") }} 
                <div class="form-group" style="margin-left: 5%;">
                    <input type = "submit" class="btn btn-info" name = "action" value = "Go">     
                </div>
            </div>
    </form>



<br><br>
{% if material_list != 0 and material_list != 1 %} 
    <br>
     <table class="table table-bordered  table-hover css-serial" >
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Code</th>
                <th>Subject</th>
                <th>Link</th>
                
            <tr>
        </thead>
        <tbody>
            {% for material in material_list %}
              <tr>
                <td></td> 
                <td>{{ material.mat.subject_code }}</td>
                <td>{{ material.mat.class_subjects.name }}</td>
                <td><a href="{{ material.link }}" target="_blank" style="color: cornflowerblue;"> {{ material.name }}</a></td>
              </tr>
            {% endfor %}
        </tbody>
     </table>

{% else %}
{% if material_list == 1 %}
<br>
    <h6 class = "alert alert-info">All the materials are still active! </h6>
    <br>

{% endif %}
{% endif %}
{% endblock content %}