{% extends "teacher_layout.html" %}
{% block content %}
<div style="width: 120%; ">  
    <legend class="border-bottom mb-4"><b>Subject Report</b></legend>
    <form method="POST" action="" target = "_blank" class="form-horizontal" >
        {{ form.hidden_tag() }}
        <input type="hidden" name="personid" id="personid" value='{{ personid }}'>
        <fieldset class="form-group">
            
                <div class="form-group row" style="font-size: 18px; ">
                    {{ form.class_opts.label(class="form-control-label col-sm-2") }}
                    {{ form.class_opts(class="form-control form-control-sm col-sm-3") }}
                </div>
                <div class="form-group row" style="font-size: 18px; ">
                    {{ form.subject_opts.label(class="form-control-label col-sm-2") }}
                    {{ form.subject_opts(class="form-control form-control-sm col-sm-3") }}
                </div>
                <br>
                <div class="form-group col-sm-3" style="margin-left: 45%;">
                    <input type = "submit" class="btn btn-info" name = "action" value = "Submit">
                </div>
        </fieldset>
    </form>

<script>
    let class_select = document.getElementById('class_opts')
    let subject_select = document.getElementById('subject_opts')
    let p = document.getElementById('personid')
    p = p.value
    class_select.onchange = function(){
        class_id = class_select.value;
       
        fetch('/subject/' + p + '/' + class_id).then(function(response) {
            response.json().then(function(data){
                let optionHTML = '';
                for(let sub of data.subjects){
                    optionHTML += '<option value= "' + sub.id + '">' + sub.subject +  '</option>';
                }
                
                subject_select.innerHTML = optionHTML; 
                console.table(data)
            });
        })
    }
</script> 
{% endblock content %}