<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='try.css') }}">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    
    {% block style %}
    {% endblock style %}


    {% if title %}
        <title>Shiksha - {{ title }}</title>
    {% else %}
        <title>Shiksha</title>
    {% endif %}

</head>

<body style="background-color: #f6f6f2">
  <header>
      <nav class="navbar navbar-expand-md navbar-dark navbar-inverse fixed-top" style="background-color:#038999; height:7%">
    
        <div class="container-fluid">
          
          <!-- logo and school name  -->
          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li> <a href="#">  <img  src="/static/logo/new_logo.jpg" alt="logo" style = "width:40px" > </a> </li>
              <li> &nbsp;&nbsp;&nbsp; <a href="#" style="color: aliceblue; font-size: 18px; font-weight: 2px;"><b>SHIKSHA</b> </a> </li>
            </ul> 
          </div>
            
          <ul class="nav navbar-nav navbar-right" >
            {% if current_user.is_authenticated %}
              {% if current_user.role != 'Super User' %}
                  <li><a style="font-size: 18px; color: aliceblue;" class="nav-item nav-link" href="{{ url_for('welcome') }}">Home</a></li>
                  <li><a style="font-size: 18px; color: aliceblue;" class="nav-item nav-link" href="{{ url_for('profile') }}">Account</a></li>
                  <li><a style="font-size: 18px; color: aliceblue;" class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
                  <li><a style="font-size: 18px; color: aliceblue;" class="nav-item nav-link" href="{{ url_for('welcome') }}">Home</a> </li>
                  <li><a style="font-size: 18px; color: aliceblue;" class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
            {% else %}
                <li><a style="color: aliceblue;" class="nav-item nav-link" href="{{ url_for('register') }}">Register</a> </li>
            {% endif %}
          </ul>
        </div>
      </header>
      
      
    </nav>

<!-- body -->
<div id="page-container">
<div id="content-wrap">
<div class="container-fluid text-center">    
  <div class="row content">
    <!-- side navigation -->
    <div class="col-sm-2 sidenav" style="margin-top: 3%;">
      <div class=" w3-sidebar w3-bar-block text-left" style="position: relative; width:17%; margin-left: -2%; background-color:#8acbd4">
            <div id="accordion">
    
              {% if t_ct %}
                <div class="card">
                  <div class="card-header" id="headingOne" style="background-color: #8acbd4;">
                    <h5 class="mb-0">
                      <button style="font-size: 18px; color: black;" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Register
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                      <a href=" {{ url_for('upload_students', personid=personid) }} " class=" dropdown-item w3-left-align w3-block w3-button">Students</a>
                      <a href=" {{ url_for('upload_subject_students', personid=personid) }} " class=" dropdown-item w3-left-align w3-block w3-button">Subjects for Students</a>
                    </div>
                  </div>
                </div>
              {% endif %}
        
              {% if t_ct %}
                <div class="card">
                  <div class="card-header" id="headingTwo" style="background-color: #8acbd4;">
                    <h5 class="mb-0">
                      <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Manage
                      </button>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                      <a href="{{ url_for('manage_class_students', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Class Students</a>
                      <a href="{{ url_for('view_subjectwise_students', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Subject Students</a>  
                    </div>
                  </div>
                </div>
              {% else %}
                <div class="card">
                  <div class="card-header" style="background-color: #8acbd4;">
                    <h5 class="mb-0">
                      <a style="color: black; font-size: 18px;" href="{{ url_for('view_subjectwise_students', personid=personid) }}" class="btn btn-link">Subject Students</a>   
                    </h5>
                  </div>
                </div>  
              {% endif %}


              <div class="card">
                <div class="card-header" id="headingThree" style="background-color: #8acbd4;">
                  <h5 class="mb-0">
                    <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Online Class
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                    <a href="{{ url_for('add_online_class', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Add Online Class</a>  
                    <a href="{{ url_for('manage_online_class', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Manage Online Clsass</a>
                  </div>
                </div>
              </div>





        
              <div class="card">
                <div class="card-header" id="headingFour" style="background-color: #8acbd4;">
                  <h5 class="mb-0">
                    <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Study Materials
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                    <a href="{{ url_for('upload_study_material', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Upload Study Material</a>  
                    <a href="{{ url_for('view_study_materials', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Manage Study Materials</a>
                  </div>
                </div>
              </div>
        
              <div class="card">
                <div class="card-header" id="headingFive" style="background-color: #8acbd4;">
                  <h5 class="mb-0">
                    <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                     Howeworks
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                    <a href="{{ url_for('upload_homework', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Upload Homework</a>  
                    <a href="{{ url_for('view_homeworks', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Manage Homeworks</a>
                    <a href="{{ url_for('view_hw_submissions', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">View Submissions</a>
                  </div>
                </div>
              </div>


              

              <div class="card">
                <div class="card-header" id="headingSix" style="background-color: #8acbd4;">
                  <h5 class="mb-0">
                    <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseFive">
                      Tests
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                    <a href="{{ url_for('upload_test', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Upload Test</a>  
                    <a href="{{ url_for('view_tests', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Manage Tests</a>
                    <a href="{{ url_for('view_test_submissions', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">View Submissions</a>
                  </div>
                </div>
              </div>
            
              {% if t_ct %}
                <div class="card">
                  <div class="card-header" id="headingSeven" style="background-color: #8acbd4;">
                    <h5 class="mb-0">
                      <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Class Report
                      </button>
                    </h5>
                  </div>
                  <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                      <a href="{{ url_for('homework_report_class', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button"> Homeworks Report</a>
                      <a href="{{ url_for('test_report_class', personid=personid) }}"  class=" dropdown-item w3-left-align w3-block w3-button">Tests Report</a>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header" id="headingEight" style="background-color: #8acbd4;">
                    <h5 class="mb-0">
                      <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Subject Report
                      </button>
                    </h5>
                  </div>
                  <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                    <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                      <a href="{{ url_for('homework_report_subject', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Homeworks Report</a>
                      <a href="{{ url_for('test_report_subject', personid=personid) }}"  class=" dropdown-item w3-left-align w3-block w3-button">Tests Report</a>
                    </div>
                  </div>
                </div>


              {% else %}


              <div class="card">
                <div class="card-header" id="headingSeven" style="background-color: #8acbd4;">
                  <h5 class="mb-0">
                    <button style="font-size: 18px; color: black;" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                      Subject Report
                    </button>
                  </h5>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                  <div class="card-body" style="padding-top: 0%; padding-bottom: 0%; padding-right: 0%; background-color: #dedfe0;">
                    <a href="{{ url_for('homework_report_subject', personid=personid) }}" class=" dropdown-item w3-left-align w3-block w3-button">Homeworks Report</a>
                    <a href="{{ url_for('test_report_subject', personid=personid) }}"  class=" dropdown-item w3-left-align w3-block w3-button">Tests Report</a>
                  </div>
                </div>
              </div>
              {%endif%}
        
            </div>
        </div>
    </div>
  

    <!-- main content -->
    <main role="main" class="container" id="main" style="margin-top: 8%; margin-left: 5%; background-color:#ffffff">
      <br>
      <div class="row">
        <div class="col-md-10 text-left">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>
  </div>  
</div>
</div>

<footer id="footer" >
  <h4 style="color:white; margin-left:52%">School Name</h4>
</footer>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
    
  </body>

</html>