{% extends "teacher_layout.html" %}
{% block content %}
<div style="width: 120%; ">  
    <legend class="border-bottom mb-4"><b>View Subject Students</b></legend>
    <form method="POST" action="" class="form-horizontal">
        {{ form.hidden_tag() }}
        <input type="hidden" name="personid" id="personid" value='{{ personid }}'>
        
            <div class="form-group row" style = "font-size: 18px; ">
                {{ form.class_opts.label(class="form-control-label col-sm-2") }}
                {{ form.class_opts(class="form-control form-control-sm col-sm-3") }}
            </div>
            <div class="form-group row" style="font-size: 18px; ">
                {{ form.subject_opts.label(class="form-control-label col-sm-2") }}
                {{ form.subject_opts(class="form-control form-control-sm col-sm-3") }}
            </div>
                <br>
                <div class="form-group col-sm-3">
                    <input style="margin-left: 200%;" type = "submit" class="btn btn-info" name = "action" value = "Submit">
                </div>
        
    </form>

{% if students %}
<form action="{{ url_for('mail_subject_students', personid=personid, class_=class_, sub=sub)}}" >
      <br />    
      <table class="table table-bordered  table-hover css-serial" >

          <thead>
              <tr>
                  <th>S.No.</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>DOB</th>
                  <th>Email ID</th>
                  <th>Phone Number</th>
                  <th>Gender</th>
                  <th>Grade</th>
                  <th>Section</th>
              <tr>
          </thead>
          <tbody>
              {% for student in students %}
                <tr>
                  <td> </td>
                  <td>{{ student.first_name }}</td>
                  <td>{{ student.last_name }}</td>
                  <td>{{ student.dob }}</td>
                  <td>{{ student.student_user.email }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.gender }}</td>
                  <td>{{ student.member.grade }}</td>
                  <td>{{ student.member.section }}</td>
                  
                </tr>
              {% endfor %}
          </tbody>
      </table>
      <button type="submit" style="margin-left: 46%;" class="btn btn-info">Mail All</button>
</form>

{% endif %}
<script>
    let class_select = document.getElementById('class_opts')
    let subject_select = document.getElementById('subject_opts')
    let p = document.getElementById('personid')
    p = p.value
    class_select.onchange = function(){
        class_id = class_select.value;
       
        fetch('/subject/' + p + '/' + class_id).then(function(response) {
            response.json().then(function(data){
                let optionHTML = '';
                for(let sub of data.subjects){
                    optionHTML += '<option value= "' + sub.id + '">' + sub.subject +  '</option>';
                }
                
                subject_select.innerHTML = optionHTML; 
                console.table(data)
            });
        })
    }
</script> 

{% endblock content %}